
body {
    background-color: rosybrown;
    text-align: center;
}
#form1 {
    background-color: gray;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button1 {
    background-color: #04AA6D;
}
/* Green */
.button2 {
    background-color: #008CBA;
}
/* Blue */
.button3 {
    background-color: darkslategray;
}
/* Red */
.button4 {
    background-color: lawngreen;
    color: black;
}
/* Gray */
.button5 {
    background-color: #555555;
}
/* Black */


.disenodemarco {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}